<h1>Welcome to eCAREI Resource Pages!</h1>

<body>
<p>
The eCAREI Resource Pages helps real estate investors find investor-friendly
products and services.  The resources list is built and maintained by members
only.  Therefore the resources list are only suggested by member investors for
member investors.
</p><p>
So, when you want a good (plumber, painter, attorney,...) come to this list
first!  And, when you have found an investor-friendly product or service add
it to the list!
</p><p>
The database of resources starts empty.  Investor-members can create categories
and sub-categories as they are needed.  For example, if there is not yet a
category for 'Flooring', any member can create the category 'Flooring'.
</p><p>
The categories are all hierarchical.  So, if you have a resource that is only
'Hardwood Flooring', for example, you can create a category called
'Hardwood Flooring' under the category for 'Flooring'.  Or, perhaps the
service provider you are recommending is only an installer.  You could create
a category of 'Installers' under the 'Flooring' Category.
</p><p>
You then have the opportunity to add a review for any particular product or
service provider.  If you add the business you should, of course, add a review
of the business!  And, if you already see the business you have used in the
listings, you can add a new review, too.
</p><p>
Reviews are rated from '1 - Low' to '5 - Excellent'.  You also should enter
a description of why you rated that provider at that level.  If possible,
include some qualitative description, too.  So, in addition to things like
'They were always courteous and on-time', or 'Lowest cost I could find', you
should enter things that can give your fellow members an idea of cost or other
measures.  For example, 'They tiled a 400 sq.ft. area for just $1.50 per sq.
ft.!', or 'Attorney gave great advice and charges only $180/hr.'
</p><p>
Try it out, and let's all help each other in our real estate investing!
</p><p>
  Sign-up and/or log-in using the menu bar at the top of the page.
</p>
</body>


